@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Very nice description of the mentor programme, how it works and why we do it.
    If you want to know more, don't hesitate to ask : email&toYourMentor.Coordinator</p>
